.agallery {
	text-align: center;
	height: 100%;

	&_2 {
		pointer-events: none;
		user-select: none;
			
		.agallery__arrow {
			pointer-events: none;
			z-index: 100;
			
			&:before {
				transition: $trans;
				pointer-events: auto;
				content: "";
				border-left: 5px solid $red-light;
				border-bottom: 5px solid $red-light;
				position: absolute;
				top: 50%;
				height: 2.5vw;
				width: 2.5vw;
			}

			&_left {

				&:before {
					transform: rotate(45deg);
					left: 10%;
				}
			}

			&_right {
				
				&:before {
					transform: rotate(-135deg);
					right: 10%;
				}
			}
		}
		
		.agallery__element-1_1 {
			top: 0;
			right: 0;
			width: 26%;
			z-index: 4;

			img {
				transform: translateY(-60%);
				max-width: 483px;
			}
		}

		.agallery__element-1_2 {
			z-index: 4;
			width: 23%;

			img {
				transform: translateY(10%);
				max-width: 455px;
			}
		}

		.agallery__element-1_3 {
			top: 12%;
			left: 57%;
			width: 8%;
			z-index: 3;
			
			img {
				max-width: 181px;
			}
		}

		.agallery__element-1_4 {
			top: 16%;
			left: 16%;
			width: 18%;
			z-index: 3;
			
			img {
				max-width: 399px;
			}
		}

		.agallery__element-1_5 {
			top: 6%;
			right: 10%;
			width: 18%;
			z-index: 3;
			
			img {
				max-width: 361px;
			}
		}

		.agallery__element-1_6 {
			top: 16%;
			left: 11%;
			width: 36%;
			z-index: 2;
			
			img {
				max-width: 641px;
			}
		}

		.agallery__element-1_7 {
			top: 32%;
			right: 42%;
			width: 16%;
			z-index: 3;
			
			img {
				max-width: 363px;
			}
		}

		.agallery__element-1_8 {
			bottom: 8%;
			right: 58%;
			width: 18%;
			z-index: 3;
			
			img {
				max-width: 366px;
			}
		}

		.agallery__element-1_9 {
			bottom: 28%;
			right: 10%;
			width: 13%;
			z-index: 3;
			
			img {
				max-width: 287px;
			}
		}

		.agallery__element-1_10 {
			top: 24%;
			left: 60%;
			width: 18%;
			z-index: 2;
			
			img {
				max-width: 341px;
			}
		}

		.agallery__element-1_11 {
			top: 38%;
			left: 86%;
			width: 5%;
			z-index: 4;
			
			img {
				max-width: 98px;
			}
		}

		.agallery__element-1_12 {
			top: 64%;
			left: 90%;
			width: 4.5%;
			z-index: 4;
			
			img {
				max-width: 83px;
			}
		}

		.agallery__element-1_13 {
			top: 74%;
			right: 80%;
			width: 4.5%;
			z-index: 4;
			
			img {
				max-width: 86px;
			}
		}

		.agallery__element-1_14 {
			top: 58%;
			right: 88%;
			width: 6%;
			z-index: 4;
			
			img {
				max-width: 125px;
			}
		}

		.agallery__element-1_15 {
			bottom: 0;
			left: 50%;
			width: 22%;
			z-index: 4;
			
			img {
				transform: translateY(54%);
				max-width: 577px;
			}
		}

		.agallery__element-1_16 {
			top: 40%;
			left: 25%;
			width: 6%;
			z-index: 2;
			
			img {
				max-width: 126px;
			}
		}

		.agallery__element-1_17 {
			bottom: 30%;
			right: 22%;
			width: 10%;
			z-index: 4;
			
			img {
				max-width: 207px;
			}
		}

		.agallery__element-1_18 {
			top: 25%;
			left: 20%;
			width: 6%;
			z-index: 3;
			
			img {
				max-width: 141px;
			}
		}


		.agallery__element-2_1 {
			top: 1%;
			left: 70%;
			width: 18%;
			z-index: 4;

			img {
				max-width: 372px;
			}
		}

		.agallery__element-2_2 {
			top: 28%;
			left: 75%;
			z-index: 3;
			width: 18%;

			img {
				max-width: 373px;
			}
		}

		.agallery__element-2_3 {
			top: 16%;
			right: 65%;
			width: 20%;
			z-index: 3;
			
			img {
				max-width: 530px;
			}
		}

		.agallery__element-2_4 {
			top: 40%;
			left: 6%;
			width: 18%;
			z-index: 2;
			
			img {
				max-width: 370px;
			}
		}

		.agallery__element-2_5 {
			top: 18%;
			left: 45%;
			width: 18%;
			z-index: 2;
			
			img {
				max-width: 395px;
			}
		}

		.agallery__element-2_6 {
			top: 10%;
			left: 4%;
			width: 40%;
			z-index: 1;
			
			img {
				max-width: 882px;
			}
		}

		.agallery__element-2_7 {
			left: 2%;
			bottom: 0;
			width: 18%;
			z-index: 4;
			
			img {
				transform: translateY(40%);
				max-width: 456px;
			}
		}

		.agallery__element-2_8 {
			top: 47%;
			right: 66%;
			width: 14%;
			z-index: 3;
			
			img {
				max-width: 342px;
			}
		}

		.agallery__element-2_9 {
			top: 52%;
			left: 58%;
			width: 13%;
			z-index: 3;
			
			img {
				max-width: 302px;
			}
		}

		.agallery__element-2_10 {
			bottom: 15%;
			right: 4%;
			width: 24%;
			z-index: 1;
			
			img {
				max-width: 558px;
			}
		}

		.agallery__element-2_11 {
			top: 54%;
			left: 86%;
			width: 4%;
			z-index: 4;
			
			img {
				max-width: 98px;
			}
		}

		.agallery__element-2_12 {
			bottom: 6%;
			left: 83%;
			width: 4.5%;
			z-index: 4;
			
			img {
				max-width: 110px;
			}
		}

		.agallery__element-2_13 {
			bottom: 30%;
			right: 80%;
			width: 4.5%;
			z-index: 4;
			
			img {
				max-width: 86px;
			}
		}

		.agallery__element-2_14 {
			bottom: 44%;
			right: 90%;
			width: 5%;
			z-index: 4;
			
			img {
				max-width: 125px;
			}
		}

		.agallery__element-2_15 {
			top: 30%;
			left: 42%;
			width: 28%;
			z-index: 2;
			
			img {
				max-width: 266px;
			}
		}

		


		.agallery__element-3_1 {
			top: 0;
			left: 70%;
			width: 12%;
			z-index: 4;

			img {
				transform: translateY(-30%);
				max-width: 215px;
			}
		}

		.agallery__element-3_2 {
			top: 2%;
			left: 3%;
			z-index: 4;
			width: 20%;

			img {
				max-width: 453px;
			}
		}

		.agallery__element-3_3 {
			top: 26%;
			left: 11%;
			width: 30%;
			z-index: 3;
			
			img {
				max-width: 618px;
			}
		}

		.agallery__element-3_4 {
			top: 0;
			left: 40%;
			width: 24%;
			z-index: 3;
			
			img {
				transform: translateY(-20%);
				max-width: 517px;
			}
		}

		.agallery__element-3_5 {
			top: 48%;
			left: 8%;
			width: 15%;
			z-index: 4;
			
			img {
				max-width: 395px;
			}
		}

		.agallery__element-3_6 {
			top: 3%;
			left: 6%;
			width: 34%;
			z-index: 1;
			
			img {
				max-width: 691px;
			}
		}

		.agallery__element-3_7 {
			left: 50%;
			top: 1%;
			width: 33%;
			z-index: 1;
			
			img {
				max-width: 672px;
			}
		}

		.agallery__element-3_8 {
			top: 82%;
			left: 40%;
			width: 20%;
			z-index: 3;
			
			img {
				max-width: 489px;
			}
		}

		.agallery__element-3_9 {
			top: 10%;
			right: 6%;
			width: 20%;
			z-index: 3;
			
			img {
				max-width: 503px;
			}
		}

		.agallery__element-3_10 {
			bottom: 4%;
			right: 2%;
			width: 30%;
			z-index: 1;
			
			img {
				max-width: 805px;
			}
		}

		.agallery__element-3_11 {
			top: 54%;
			left: 80%;
			width: 4%;
			z-index: 4;
			
			img {
				max-width: 98px;
			}
		}

		.agallery__element-3_12 {
			bottom: 4%;
			left: 70%;
			width: 4%;
			z-index: 4;
			
			img {
				max-width: 110px;
			}
		}

		.agallery__element-3_13 {
			bottom: 7%;
			right: 68%;
			width: 4%;
			z-index: 4;
			
			img {
				max-width: 86px;
			}
		}

		.agallery__element-3_14 {
			bottom: 22%;
			left: 2%;
			width: 5%;
			z-index: 4;
			
			img {
				max-width: 125px;
			}
		}

		.agallery__element-3_15 {
			bottom: 0;
			right: 2%;
			width: 22%;
			z-index: 4;
			
			img {
				transform: translateY(40%);
				max-width: 481px;
			}
		}
		
		.agallery__element-3_16 {
			top: 25%;
			right: 2%;
			width: 4%;
			z-index: 4;
			
			img {
				max-width: 86px;
			}
		}

		.agallery__element-3_17 {
			bottom: 16%;
			right: 22%;
			width: 14%;
			z-index: 4;
			
			img {
				max-width: 340px;
			}
		}

		.agallery__element-3_18 {
			bottom: 26%;
			right: 2%;
			width: 12%;
			z-index: 2;
			
			img {
				max-width: 275px;
			}
		}
	}

	&__slide {
		display: flex;
		align-items: center;
		overflow: hidden;
	}

	&__slide-container {

		h2 {
			font-size: 15vw;
			font-weight: bold;
			text-transform: uppercase;
			padding-top: 4vw;
		}

		h4 {
			font-size: 25px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	&__elements-container {
		transform:translateY(-130px);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;

		@include media(w768) {
			transform:translateY(0);
		}
	}

	&__elements {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	&__element {
		position: absolute;

		img {
			width: 100%;
		}
	}

	&__bg-img {
		position: absolute;

		&_1 {
			left: 0;
			top: 10vh;
			max-height: 90vh;
			max-width: 80vw;
		}

		&_2 {
			left: 10vw;
			bottom: 5vw;
			max-width: 90vw;
		}

		&_3 {
			left: 0;
			top: 3vh;
			max-height: 100vh;
			max-width: 90vw;
		}
	}
	
	&__promo-box {
		margin-top: -8vw;
		margin-bottom: 4vw;
		position: relative;
		width: 90vw;
		max-width: 761px;

		@include media(w1366) {
			width: 88%;
		}
	}

	&__box-img {
		position: absolute;
		right: 25vw;
		bottom: 2vw;
		width: 90vw;
		max-width: 588px;

		@include media(w1024) {
			position: static;
			width: 90%;
		}
	}
	
	&__open-box {
		pointer-events: auto;
		user-select: none;
		max-height: 80vh;
		max-width: 90%;
		
		&_2 {
			max-height: 90vh;
		}

		&_3 {
			transform: translateX(-10%);
		}
	}

	&__arrow {
		pointer-events: auto;
		position: absolute;
		top: 0;
		height: 100%;
		width: 50%;

		&_left {
			left: 0;
		}

		&_right {
			right: 0;
		}
	}

	.agallery__pagination {
		bottom: 25px;
	}
}

.swiper-pagination-bullet {
	background-color: white;
	opacity: 0.5;
	height: 10px;
	width: 10px;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background-color: white;
}