div.footer__wrap
	<div class="brands-outer">
	<div class="brands-wrap static">
	<div class="brands-caption">Ваши любимые бренды</div>
	<div class="brands-container">
	<div class="caroufredsel_wrapper" style="display: block; text-align: center; float: none; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; margin: 0px 501.5px; overflow: hidden; position: relative; width: 900px; height: 90px;"><ul class="brands" style="text-align: left; float: none; position: absolute; right: auto; bottom: auto; margin: 0px; top: 0px; left: 0px; width: 3900px; height: 90px;">
	<!--                        <li><a href="/velico/"><img src="--><!--i/brand-2.png" alt="" ></a></li>-->
	<li><a href="/velico/"><img src="/netcat_template/template/113/i/velico-logo_new.png" alt=""></a></li>
	<li><a href="/darko/"><img src="/netcat_template/template/113/i/brand-3.png" alt=""></a></li>
	<li><a href="/secrets/"><img src="/netcat_template/template/113/i/doms.png" alt=""></a></li>
	<!-- <li><a href="/rancho/"><img src="/netcat_template/template/113/i/brand-5.png" alt="" ></a></li> -->
	<!--                        <li><a href="/solnce/"><img src="--><!--i/brand-6.png" alt="" ></a></li>-->
	<li><a href="/solnce/"><img src="/netcat_template/template/113/i/Solnsepek_logo1.png" alt=""></a></li>
	<li><a href="/smeshariki/"><img src="/netcat_template/template/113/i/brand-7.png" alt=""></a></li>
	<li style="margin-right: 0px;"><a href="/edim-doma/"><img src="/netcat_template/template/113/i/b_ed.png" alt=""></a></li>
	<!--                        <li><a href="/production/pelmeni-hinkali-manty/pelmeni-hinkali-manty_6.html"><img src="--><!--i/b_msh.png" alt="" ></a></li>-->
	<li><a href="/yarmarka/"><img src="/netcat_template/template/113/i/myas.png" alt=""></a></li>
	<li><a href="/production/pelmeni-hinkali-manty/pelmeni-hinkali-manty_140.html"><img src="/netcat_template/template/113/i/dlm.png" alt=""></a></li>
	<!--                         <li><a href="#"><img src="/netcat_template/template/113/i/elit.png" alt="" ></a></li>
	<li><a href="#"><img src="/netcat_template/template/113/i/galsan.png" alt="" ></a></li> -->
	<li><a href="/tri-yagodki/"><img src="/netcat_template/template/113/i/trig.png" alt=""></a></li>
	<li><a href="/kolbasa/"><img src="/netcat_template/template/113/i/mkp.png" alt=""></a></li>
	<!--                         <li><a href="#"><img src="/netcat_template/template/113/i/brand-5.png" alt="" width="140" height="63"></a></li>
	<li><a href="#"><img src="/netcat_template/template/113/i/brand-6.png" alt="" width="140" height="75"></a></li>
	<li><a href="#"><img src="/netcat_template/template/113/i/brand-7.png" alt="" width="140" height="69"></a></li> -->
	</ul></div><div class="arrow-small prev" style="display: block;"></div><div class="arrow-small next" style="display: block;"></div>
	</div>
	</div>
	</div>
	<nav class="bottomnav" role="navigation">
	<ul>
	<li>
	<span style="color: white;">Бренды</span>
	<ul>
	<li><a href="/velico/">Великосочные</a></li>
	<li><a href="/yarmarka/">Мясная ярмарка</a></li>
	<li><a href="/solnce/">Солнцепек</a></li>
	<li><a href="/secrets/">Домашние секреты</a></li>
	<li><a href="/edim-doma/">Едим дома</a></li>
	<li><a href="/smeshariki/">Смешарики</a></li>
	<li><a href="/rancho/">Русское ранчо</a></li>
	<li><a href="/darko/">Дарко</a></li>
	<li><a href="/tri-yagodki/">Три ягодки</a></li>
	</ul>
	</li>
	<li>
	<span style="color: white;">Продукция</span>
	<ul>
	<li><a href="/production/pelmeni-hinkali-manty/">Пельмени</a></li>
	<li><a href="/production/pelmeni-hinkali-manty/">Хинкали</a></li>
	<li><a href="/production/pelmeni-hinkali-manty/">Манты</a></li>
	<li><a href="/production/pelmeni-hinkali-manty/">Позы</a></li>
	<li><a href="/production/vareniky/">Вареники</a></li>
	<li><a href="/production/bliny/">Блинчики</a></li>
	<li><a href="/production/testo/">Тесто</a></li>
	<li><a href="/production/kotlety/">Котлеты</a></li>
	<li><a href="/production/kotlety/">Фарш</a></li>
	<li><a href="/production/sup/">Супы</a></li>
	<li><a href="/kolbasa/">Колбасы</a></li>
	</ul>
	</li>
	<li>
	<a href="/full-list/about/">О компании</a>
	<ul>
	<li><a href="/full-list/about/certs/">Сертификаты</a></li>
	<li><a href="/full-list/about/iso/">Система качества</a></li>
	<!--     				<li><a href="#">Производство</a></li> -->
	<li><a href="/full-list/about/history/">История</a></li>
	</ul>
	</li>
	<li>
	<a href="/vacancy/vak/">Персонал</a>
	<ul>
	<li><a href="/vacancy/vak/">Вакансии по городам</a></li>
	<!--     				<li><a href="#">Кадровая политика</a></li> -->
	<li><a href="/vacancy/meropriyatiya/">Наша жизнь </a></li>
	</ul>
	</li>
	<li>
	<a href="/partners/">Партнерам</a>
	<ul>
	<li><a href="/partners/">Дистрибьюторам</a></li>
	<li><a href="/partners/">Поставщикам</a></li>
	</ul>
	</li>
	</ul>
	</nav>
	<footer class="footer">
	<div class="footer-inside">
	<div class="siteinfo">
	<div class="footer-logo">Сибирский Гурман</div>
	Copyright (c)
	</div>
	<ul class="footer-social">
	<li><a href="http://vkontakte.ru/share.php?url=http://sib-gurman.ru/" target="_blank"><img src="/netcat_template/template/113/i/footer-vk.png" alt=""></a></li>
	<li><a href="http://www.facebook.com/sharer.php?u=http://sib-gurman.ru/" target="_blank"><img src="/netcat_template/template/113/i/footer-facebook.png" alt=""></a></li>
	<li><a href="http://www.youtube.com/channel/UC-McHe8zxyPPU6y4pnRT34Q/videos" target="_blank"><img src="/netcat_template/template/113/i/footer-youtube.png" alt=""></a></li>
	</ul>
	<div class="footer-contacts">Горячая линия:<div class="num">8-800-333-1015</div></div>
	<div class="dev">
	<a href="http://abaris.ru/" title="разработка корпоративных сайтов">Создание сайта</a> и <a href="http://www.siteseo.ru/" title="seo оптимизация и раскрутка сайтов">продвижение сайта</a>
	</div>
	</div>
	</footer>