<div class="header-outer">
<header class="header" role="banner">
<a href="/"><div class="header-logo">Сибирский Гурман</div></a>
<nav class="primarynav" role="navigation">
<ul>
<li class="dropdown"><a class="dropdown-toggle" href="/production/pelmeni-hinkali-manty/" title="Продукция">Продукция</a><ul class="dropdown-menu"><li><a href="/production/pelmeni-hinkali-manty/" title="Пельмени, хинкали, манты">Пельмени, хинкали, манты</a></li><li><a href="/production/vareniky/" title="Вареники">Вареники</a></li><li><a href="/production/bliny/" title="Блинчики">Блинчики</a></li><li><a href="/production/testo/" title="Тесто">Тесто</a></li><li><a href="/production/kotlety/" title="Котлеты">Котлеты</a></li><li><a href="/kolbasa/" title="Колбасы">Колбасы</a></li><li><a href="/production/ready/" title="Готовые продукты">Готовые продукты</a></li></ul></li><li class="dropdown"><a class="dropdown-toggle" href="/partners/" title="Партнерам">Партнерам</a></li><li class="dropdown"><a class="dropdown-toggle" href="/vacancy/vak/" title="Персонал">Персонал</a><ul class="dropdown-menu"><li><a href="/vacancy/vak/" title="Вакансии компании">Вакансии компании</a></li></ul></li><li class="dropdown"><a class="dropdown-toggle" href="/contacts/" title="Контакты">Контакты</a></li><li class="dropdown">
<a href="/full-list/" class="dropdown-toggle icon-menu">Все разделы</a>
<ul class="dropdown-menu">
<li><a href="/full-list/news/" title="Новости">Новости</a></li><li><a href="/full-list/about/" title="О компании">О компании</a></li><li><a href="/vacancy/vak/" title="Персонал">Персонал</a></li><li><a href="/full-list/video/adv/" title="Видео">Видео</a></li><li><a href="/full-list/stm/" title="СТМ">СТМ</a></li></ul>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle icon-search"></a>
<form action="/search/" class="dropdown-menu search">
<input type="text" name="search_query" id="nc_search_query" placeholder="Введите слово для поиска">
<button class="icon-search" type="submit"></button>
</form>
</li>
</ul>
</nav>
<a href="/feedback/" class="btn owner-contact">Связь с собственниками</a>
<div class="header-contacts">
<div class="email"><a href="mailto:okk@sib-gurman.ru">okk@sib-gurman.ru</a></div>
<div class="tel">Телефон горячей линии<div class="num">8-800-333-1015</div></div></div>
<ul class="header-social">
<li><a href="/"><img src="/netcat_template/template/113/i/home.png" alt=""></a></li>
<li><a href="http://vkontakte.ru/share.php?url=http://sib-gurman.ru/" target="_blank" rel="nofollow"><img src="/netcat_template/template/113/i/vk.png" alt=""></a></li>
<li><a href="http://www.facebook.com/sharer.php?u=http://sib-gurman.ru/" target="_blank" rel="nofollow"><img src="/netcat_template/template/113/i/facebook.png" alt=""></a></li>
<li><a href="http://www.youtube.com/channel/UC-McHe8zxyPPU6y4pnRT34Q/videos" target="_blank" rel="nofollow"><img src="/netcat_template/template/113/i/youtube.png" alt=""></a></li>
<li><a href="/download.php?filename=/netcat_template/template/113/i/logo_SG_objem.JPG" target="_blank" download="" title="Скачать логотип"><img src="/netcat_template/template/113/i/icon-download.png"></a>
</li></ul>
</header>
</div>




